<style>
.navbar-brand {
    background-color: #1abc9c;
    color: #ffffff;
    border-left-color: transparent;
}
</style>

    <div class="container">

        <img src="img/logo.jpg" width="100%"></img>

    </div><!-- /.container -->
