<style>
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html { overflow-y: scroll; }
.showcase-grid:after {
    content: '';
    display: block;
    clear: both;
}
.showcase-grid-item {
    float: left;
    padding: 0;
    border: solid #DDD 1px;
}
.page-showcase {
    background-color: #1abc9c;
    color: #ffffff;
    border-left-color: transparent;
}
</style>

<div class="container">
    <div >
        <div class="container">
            <div class="">
                <h1>Showcase</h1>
            </div>
        </div>

        <div class="showcase-grid">

            {{#each images}}
            <img class="img-rounded lazy showcase-grid-item col-lg-4 col-md-5 col-sm-6 .col-xs-7" data-original="{{url}}" width="{{width}}px" height="{{height}}px">
            {{/each}}

            {{^images}}
            <div> Nothing yet, come back soon :)</div>
            {{/images}}

        </div>

    </div>

</div>

<script src="./js/jquery.lazyload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.1/packery.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript">

docReady( function() {
    var $container = $('.showcase-grid');
    // init
    $container.packery({
      itemSelector: '.showcase-grid-item',
      gutter: 0
    });

    $('img.lazy').lazyload({
        effect : 'fadeIn'
    });

});



</script>
