<style>
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html { overflow-y: scroll; }

.showcase-grid {
    background: #DDD;
}
.showcase-grid:after {
    content: '';
    display: block;
    clear: both;
}

.showcase-grid-sizer,
.showcase-grid-item {
    width: 33.33%;
}
.showcase-grid-item {
    float: left;
    border: 2px solid #DDD;
}
.showcase-grid-item img {
    display: block;
    max-width: 100%;
}
</style>

<div class="container">
    <div >
        <div class="row">
            <div class="">
                <h1>Showcase</h1>
            </div>
        </div>

        <div class="showcase-grid">
            <div class="showcase-grid-sizer"></div>

            {{#each images}}
            <img class="showcase-grid-item submission-item lazy" data-original="{{url}}" height="{{height}}px" width="{{width}}px">
            {{/each}}

            {{^images}}
            <div> Nothing yet, come back soon :)</div>
            {{/images}}

        </div>

    </div>

</div>

<script type="text/javascript">

docReady( function() {
    var grid = document.querySelector('.showcase-grid');
    var msnry = new Masonry(grid, {
        itemSelector: '.showcase-grid-item',
        columnWidth: '.showcase-grid-sizer',
        percentPosition: true
    });
    imagesLoaded(grid, function() {
        msnry.layout();
    });

});

jQuery(document).ready(function ($) {
    $("img.lazy").lazyload({
        effect : "fadeIn"
    });
});

</script>
